<?php

return [
    'ui' => [
        'language' => 'fr',
        'show_fork' => false,
        'skip_welcome' => true,
        'scale' => 200,
        'shutter_cheese_img' => '/resources/img/cheese/camera_up.svg',
    ],
    'adminpanel' => [
        'view' => 'expert',
    ],
    'start_screen' => [
        'title' => 'Photomaton',
    ],
    'logo' => [
        'path' => '/private/images/logo/logo_aim.png',
        'position' => 'bottom_right',
    ],
    'download' => [
        'enabled' => false,
    ],
    'picture' => [
        'enabled' => false,
        'cntdwn_time' => 3,
        'cheese_time' => 2000,
        'take_frame' => false,
        'frame' => '/resources/img/frames/frame.png',
    ],
    'textonpicture' => [
        'font' => '/resources/fonts/GreatVibes-Regular.ttf',
    ],
    'delete' => [
        'no_request' => true,
    ],
    'event' => [
        'textRight' => 'Jessica',
        'textLeft' => 'Alain',
        'symbol' => 'fa-regular fa-heart',
    ],
    'filters' => [
        'enabled' => false,
    ],
    'collage' => [
        'layout' => 'collage.json',
        'frame' => '/resources/img/frames/frame.png',
        'placeholder' => true,
        'placeholderposition' => 4,
        'placeholderpath' => '/private/images/placeholder/jessica_alain.jpeg',
        'limit' => 3,
    ],
    'textoncollage' => [
        'enabled' => false,
        'font' => '/resources/fonts/GreatVibes-Regular.ttf',
    ],
    'login' => [
        'enabled' => true,
        'username' => 'photobooth',
        'password' => '$2y$10$Shgon8uhAHa1FCV9Vv6t8.8uKcICveSwZ8Mxz3PplXjyHRk8ffaje',
        'keypad' => true,
        'pin' => '7721',
    ],
    'ftp' => [
        'enabled' => true,
        'baseURL' => 'ie6qj.ftp.infomaniak.com',
        'username' => 'ie6qj_photobooth',
        'password' => '{{ ftp_password }}',
        'folder' => 'aim-photobooth',
        'title' => 'amelie-victor',
        'useForQr' => true,
        'website' => 'https://photobooth.aim-photography.ch/',
        'urlTemplate' => '%website%/%folder%/%title%/',
        'create_webpage' => true,
        'delete' => true,
    ],
    'protect' => [
        'manual' => true,
        'localhost_manual' => true,
    ],
    'colors' => [
        'countdown' => '#33d17a',
        'background_countdown' => '#dbffda',
        'primary' => '#26a269',
        'primary_light' => '#ffffff',
        'secondary' => '#b3cab9',
        'highlight' => '#b4dcb1',
        'panel' => '#26a269',
        'box' => '#dbffda',
    ],
    'background' => [
        'defaults' => 'url(/private/images/background/bg_jessica_alain.jpg)',
        'chroma' => 'url(/private/images/background/bg_jessica_alain.jpg)',
    ],
    'remotebuzzer' => [
        'serverip' => '192.168.110.50',
    ],
    'textonprint' => [
        'font' => '/resources/fonts/GreatVibes-Regular.ttf',
    ],
    'qr' => [
        'url' => 'https://photobooth.aim-photography.ch/',
        'append_filename' => false,
        'custom_text' => true,
        'text' => 'Scanner le QR code pour télécharger les photos',
    ],
    'print' => [
        'from_result' => true,
        'from_gallery' => true,
        'time' => 25000,
        'locking_msg' => 'Impression... Limite d\'impression ateinte, l\'imprimante sera désactivée',
        'limit_msg' => 'Impression désactivée',
        'frame' => '/resources/img/frames/frame.png',
    ],
    'mail' => [
        'subject' => 'Here is your picture',
        'text' => 'Hey, your picture is attached.',
    ],
    'sound' => [
        'countdown_enabled' => false,
        'cheese_enabled' => false,
        'fallback_enabled' => false,
    ],
];
